body{
    background-color: lightblue;
}
.h1{
    text-align: center;
}
.secao1{
    background-color: lightgray;
    border: 1vh solid black;
    width: 65%;
    font-size: 2vw;
}
.secao2{
    background-color: lightgray;
    border: 8px solid black;
    font-size: 20pt;
    width: 1000px;
}