.b1{
    background-color: lightgreen;
    border: 8px dotted green;
}
.b2{
    background-color: rgb(173, 173, 173);
    border: 8px double gray;
}
.b3{
    background-color: lightcoral;
    border: 8px dashed red;
}
.b4{
    background-color: lightblue;
    border: 8px solid blue;
}
.div1{
    background-color: lightblue;
    border-left: 7px solid lightcoral;
    width: 100%;
 
}
.divfora{
    border: 10px dotted purple;
    margin: 0%
    width: 100%;

}
.imgborda{
    border: 20px double rgb(255, 3, 255);
    
}
img{
    height: 300px;
}